.up-page{
    background: #ECEFF6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.up-page h2{
    color: #0D3F3B;
    font-size: 1.8em;
}
.section40{
    margin-top: 40px;
    margin-bottom: 40px;
}