<section class="container mx-auto section">
    <div class="up-page py-2 px-6 section40">
        <h2>Pedidos entregados</h2>
        <div>Bienvenido, {{nameOfUser}}</div>
    </div>
    <div class="main-page py-1">

        <h3 class="date">Agosto 2025</h3>

        <div class="flex justify-between items-center up-table section40">
            <div>
                <input type="text" class="search-input" placeholder="🔍︎ Buscar por nombre" [value]="searchTerm()"
                    (input)="searchTerm.set($any($event.target).value)">

                <select [ngModel]="selectedUserType()" (ngModelChange)="selectedUserType.set($event)"
                    class="search-input">
                    <option value="">Todos los Producto</option>
                    <option *ngFor="let type of userTypes" [value]="type">
                        {{ type }}
                    </option>
                </select>
            </div>
            <div class="btn-generate">
                <button (click)="descargarTabla()" class="text-white font-semibold py-2 px-6 rounded-md">
                    Descargar
                </button>
            </div>
        </div>
        <div class="main-table">
            <table class="table-auto w-full border-collapse text-center">
                <thead>
                    <tr class="text-white font-bold">
                        <th class="p-[15px]">Día de solicitud</th>
                        <th class="p-[15px]">Cliente</th>
                        <th class="p-[15px]">Producto</th>
                        <th class="p-[15px]">Vehículo</th>
                        <th class="p-[15px]">Cumplimiento a la fecha</th>
                        <th class="p-[15px]">Avance del cronograma</th>
                        <th class="p-[15px]">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let order of filteredOrders()">
                        <td>{{ order.createdAt | date:'dd/MM/yyyy' }}</td>
                        <td>{{ order.user?.name }}</td>
                        <td>{{ order.product?.name }}</td>
                        <td>{{ getVehicleNameById(order.product?.type_vehicle_id) }}</td>
                        <td>{{cumplimiento}} %</td>
                        <td>{{cronograma}} %</td>
                        <td class="table-actions">
                            <a (click)="goToDetails(order.order_id)">Ver pedido</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>