<section class="container mx-auto section">
    <div class="up-page py-2 px-6 section40">
        <h2>Pedidos entregados a {{nameOfClient}}</h2>
        <div>Bienvenido, {{nameOfUser}}</div>
    </div>
    <div class="main-page py-1">

        <a (click)="gotoListOrders()" clasS="txt14">← Volver al listado de pedidos</a>

        <h3 class="date">{{dateOfOrder}}</h3>

        <div class="flex justify-between items-center up-table section40">
            <div>
                <p><strong>Cliente: </strong>{{nameOfClient}}</p>
            </div>
            <div class="btn-generate">
                <button (click)="descargarTabla()" class="text-white font-semibold py-2 px-6 rounded-md">
                    Descargar
                </button>
            </div>
        </div>
        <div class="main-table">
            <table class="table-auto w-full border-collapse text-center">
                <thead>
                    <tr class="text-white font-bold">
                        <th class="p-[15px]">Fecha de entrega</th>
                        <th class="p-[15px]">Cantidad (Tm)</th>
                        <th class="p-[15px]">Estado del pedido</th>
                        <th class="p-[15px]">Vehículo</th>
                        <th class="p-[15px]">Entregado</th>
                        <th class="p-[15px]">Calificación de entrega</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let order of ordersPerDay">
                        <td>{{order.delivery_date | date:'dd/MM/yyyy'}}</td>
                        <td>{{order.quantity}}</td>
                        <td>
                            <span [ngClass]="{
                            'status-pending': order.status === 'pending',
                            'status-confirmed': order.status === 'confirmed',
                            'status-confirmed-elimination': order.status === 'confirmed-elimination',
                            'status-canceled': order.status === 'canceled'
                        }">
                                {{order.status === 'pending' ? 'Por confirmar' :
                                order.status === 'confirmed' ? 'Confirmado' :
                                order.status === 'confirmed-elimination' ? 'Por confirmar su cambio' :
                                order.status === 'canceled' ? 'Cancelado' : ''}}
                            </span>
                        </td>
                        <td>{{nameOfVehicle}}</td>
                        <td class="box-status">
                            <span [ngClass]="{
                            'bg-blue-200': order.is_delivered === 'por_entregar',
                            'bg-blue-500': order.is_delivered === 'entregado',
                            'bg-red-300': order.is_delivered === 'no_entregado',
                            'bg-indigo-400 text-white': order.is_delivered === 'atendiendo'
                        }">
                                {{order.is_delivered === 'por_entregar' ? 'Por entregar' :
                                order.is_delivered === 'entregado' ? 'Entregado' :
                                order.is_delivered === 'no_entregado' ? 'No entregado' :
                                order.is_delivered === 'atendiendo' ? 'Atendiendo' :
                                order.is_delivered === null ? '' : ''}}
                            </span>
                        </td>
                        <td *ngIf="order.rating != null; else noRating">
                            <!-- {{order.rating}} -->
                            <ng-container *ngFor="let _ of getStars(order.rating)">
                                ⭐
                            </ng-container>
                        </td>
                    </tr>

                    <ng-template #noRating>
                        <td class="txt-rating">
                            Esperando clasificación<br>por parte del cliente
                        </td>
                    </ng-template>

                </tbody>
            </table>
        </div>
    </div>

</section>