<section class="container mx-auto pb-8">
    <div class="up-page py-2 px-6 section40">
        <h2>Nuevo usuario</h2>
        <div>Bienvenido, User</div>
    </div>
    <div class="main-page">

        <form [formGroup]="userForm" class="space-y-6 py-4 mx-auto" novalidate>
            <div class="columns-form">
                <div class="form-left">
                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Usuario de ingreso</label>
                        <input type="text" formControlName="username" class="w-full px-4 py-3" />
                        <p *ngIf="userForm.get('username')?.touched && userForm.get('username')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El usuario de ingreso es obligatorio.
                        </p>
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Contraseña</label>
                        <input type="text" formControlName="password" class="w-full px-4 py-3" />
                        <p *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            La contraseña es obligatoria.
                        </p>
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Tipo de usuario</label>

                        <div class="flex gap-2 mt-4 flex-col">
                            <label class="flex items-center gap-2">
                                <input type="radio" formControlName="userType" value="client"
                                    class="accent-blue-600" />
                                Cliente
                            </label>

                            <label class="flex items-center gap-2">
                                <input type="radio" formControlName="userType" value="admin"
                                    class="accent-blue-600" />
                                Administrador
                            </label>
                        </div>

                        <p *ngIf="userForm.get('userType')?.touched && userForm.get('userType')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El tipo de usuario es obligatorio.
                        </p>
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Nombre</label>
                        <input type="text" formControlName="name" class="w-full px-4 py-3" />
                        <p *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El nombre es obligatorio.
                        </p>
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">RUC</label>
                        <input type="text" formControlName="ruc" class="w-full px-4 py-3" />
                        <!-- <p *ngIf="userForm.get('nombre')?.touched && userForm.get('nombre')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El nombre es obligatorio.
                        </p> -->
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Teléfono</label>
                        <input type="tel" formControlName="phone" class="w-full px-4 py-3" />
                        <!-- <p *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El Teléfono es obligatorio.
                        </p> -->
                    </div>



                </div>
                <div class="form-right">

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Correo electrónico</label>
                        <input type="email" formControlName="email" class="w-full px-4 py-3" />
                        <p *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El correo electrónico es obligatorio.
                        </p>
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Observaciones</label>
                        <textarea formControlName="observations" class="w-full px-4 py-3 resize-y min-h-[100px]"
                            rows="4" placeholder="Escribe tus observaciones aquí..."></textarea>
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Productos que más solicita</label>
                        <input type="text" formControlName="usualProductsNotes" class="w-full px-4 py-3" />
                        <!-- <p *ngIf="userForm.get('usualProductsNotes')?.touched && userForm.get('usualProductsNotes')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            Los productos solicitados son obligatorios.
                        </p> -->
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Correos de copia (Dividirlos por comas)</label>
                        <input type="text" formControlName="ccEmails" class="w-full px-4 py-3" />
                        <!-- <p *ngIf="userForm.get('ccEmails')?.touched && userForm.get('ccEmails')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            Los correos de copia son obligatorios.
                        </p> -->
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Lead time days</label>
                        <input type="text" formControlName="leadTimeDays" class="w-full px-4 py-3" />
                        <!-- <p *ngIf="userForm.get('leadTimeDays')?.touched && userForm.get('leadTimeDays')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            Los productos solicitados son obligatorios.
                        </p> -->
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Estado</label>

                        <select formControlName="status" class="w-full px-4 py-3">
                            <option value="">Seleccione un estado</option>
                            <option value="active">Activo</option>
                            <option value="inactive">Inactivo</option>
                        </select>

                        <p *ngIf="userForm.get('status')?.touched && userForm.get('status')?.errors?.['required']"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El estado es obligatorio.
                        </p>
                    </div>

                </div>
            </div>

            <div class="container-btns">
                <button type="button" (click)="submit()" class="btn">
                    Crear usuario
                </button>
                <button (click)="volverListaUsuarios()" class="btn-secondary">
                    Volver
                </button>
            </div>
        </form>


    </div>

    <app-modal-confirmacion [mostrar]="mostrarModalConfirmacion"
        [mensaje]="'¿Seguro que deseas volver? Los cambios no se guardarán.'" (confirmar)="confirmarVolver()"
        (cancelar)="cancelarVolver()">
    </app-modal-confirmacion>

</section>