<section class="container mx-auto">
    <div class="up-page py-2 px-6 section40">
        <h2>Nuevo producto</h2>
        <div>Bienvenido, User</div>
    </div>
    <div class="main-page">

        <form [formGroup]="productoForm" (ngSubmit)="submit()" class="space-y-6 py-4 mx-auto">
            <div class="columns-form">
                <div class="form-left">
                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Nombre del producto</label>
                        <input type="text" formControlName="name" class="w-full px-4 py-3" />
                        <p *ngIf="productoForm.get('name')?.touched && productoForm.get('name')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El nombre es obligatorio.
                        </p>
                    </div>

                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Vehículo</label>

                        <select formControlName="type_vehicle_id" class="w-full px-4 py-3">
                            <option value="">Seleccione un vehículo</option>
                            <option *ngFor="let v of vehiculos" [value]="v.id">{{ v.nombre }}</option>
                        </select>

                        <p *ngIf="productoForm.get('type_vehicle_id')?.touched && productoForm.get('type_vehicle_id')?.errors?.['required']"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El tipo de vehículo es obligatorio.
                        </p>
                    </div>

                    <!-- <div class="block mb-12">
                        <label class="block mb-1 font-medium">Ficha técnica</label>
                        <input type="file" (change)="onArchivoSeleccionado($event)" accept="application/pdf"
                            class="w-full px-4 py-3" />
                        <p *ngIf="productoForm.get('fichatecnica')?.touched && productoForm.get('fichatecnica')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            La ficha técnica es obligatoria.
                        </p>
                    </div> -->

                </div>
                <div class="form-right">
                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Código del producto</label>
                        <input type="number" formControlName="code" class="w-full px-4 py-3" />
                        <p *ngIf="productoForm.get('code')?.touched && productoForm.get('code')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            El código es obligatorio.
                        </p>
                    </div>
                    <div class="block mb-12">
                        <label class="block mb-1 font-medium">Unidad de medida</label>
                        <input type="text" formControlName="type_unit" class="w-full px-4 py-3" />
                        <p *ngIf="productoForm.get('type_unit')?.touched && productoForm.get('type_unit')?.invalid"
                            class="text-red-600 text-sm mt-1 txt-validate">
                            La unidad es obligatoria.
                        </p>
                    </div>

                </div>
            </div>

            <div class="container-btns">
                <button type="submit" class="btn">
                    Agregar producto
                </button>
                <button (click)="volverListaProductos()" class="btn-secondary">
                    Volver
                </button>
            </div>
        </form>


    </div>

    <app-modal-confirmacion [mostrar]="mostrarModalConfirmacion"
        [mensaje]="'¿Seguro que deseas volver? Los cambios no se guardarán.'" (confirmar)="confirmarVolver()"
        (cancelar)="cancelarVolver()">
    </app-modal-confirmacion>

</section>