.up-page{
    background: #ECEFF6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.up-page h2{
    color: #0D3F3B;
    font-size: 1.8em;
}
.section40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.navToBack{
    font-size: 14px;
    color: #0D3F3B;
}
.date{
    color: #0D3F3B;
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
}
.btn-generate button{
    background: #0D3F3B;
    cursor: pointer;
}
.table-actions a{
    display: block;
    margin: 5px;
}
#producto{
    background: #F3F5F2;
}
.btn-ficha{
    border: 1px solid #0D3F3B;
    border-radius: 8px;
    color: #0D3F3B;
    margin-left: 25px;
    padding: 5px 30px;
    font-size: 14px;
}
.main-table td input{
    border: 1px solid #0D3F3B;
    padding: 8px;
}