/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body{
    font-family: "Roboto", sans-serif;
}
section{
  min-height: 90vh;
}
.section{
  padding-bottom: 120px;
}
button{
  cursor: pointer;
}

body app-admin-layout, body app-client-layout{
  position: relative;
  min-height: 100vh
}
body app-admin-layout router-outlet, body app-client-layout router-outlet{
  padding-bottom: 100px; 
}

// ---------------------> Tablas
table tbody tr:nth-child(even) {
  background-color: #ECEFF6;
}

table tbody tr:nth-child(odd) {
  background-color: #fff;
}

table tbody th,
table tbody td {
  padding: 15px;
  border: 1px solid #d1d5db;
  text-align: center;
}

table thead tr{
  background: #0D3F3B;
}

table .table-actions a{
  color: #0D3F3B;
  font-weight: 600;
  display: block;
  margin: 7px;
  cursor: pointer;
}
table .table-actions a:hover{
  text-decoration: underline;
  text-decoration-color: #00E700;
  text-decoration-thickness: 3px;
}

// ---------------------> Botones
.container-btns button:last-child{
  margin-right: 0;
}
.btn{
  background: #0D3F3B;
  color: #fff;
  border-radius: 0.375rem;
  font-weight: 600;
  padding: 10px 30px;
}
.btn:hover{
    background: #062220;
}
.btn-secondary{
  background: #DFDFDF;
  color: #636363;
  border-radius: 0.375rem;
  font-weight: 600;
  padding: 10px 30px;
  margin-left: 25px;
}
.btn-secondary:hover{
    background: #cecece;
}

// ---------------------> Formulario
form label{
  color: #0D3F3B;
  font-weight: bold;
  margin-bottom: 12px;
}
form input, form select, form textarea{
  background: #F3F5F2;
}
form .columns-form{
  display: flex;
  gap: 35px;
}
form .columns-form>div{
  flex: 1;
}
form .txt-validate{
  position: absolute;
}
form input::placeholder, form option::placeholder{
  color:#3a3a3a4b;
}
form em{
  font-size: 14px;
  font-weight: 300;
}
form .txt-validate{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .txt-error{
  display: flex;
  align-items: center;
}
form .txt-validate svg, form .txt-error svg{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
form .txt-validate svg path, form .txt-error svg path{
  fill: #dc2626;
}