@media screen and (max-width: 768px){
    .section-login.section-login .bg-login{
        width: 0;
    }
    .section-login.section-login .form-login{
        width: 100%;
        max-width: 100%;
    }
}
.section-login{
    height: 100vh;
    display: flex;
}
.section-login>div{
    width: 50%;
    max-width: 50%;
}
.section-login .bg-login{
    width: 100%;
    height: 100%;
    background: url(../../../assets/banner-app.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-login .form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}
.form-login img{
    margin-bottom: 45px;
    padding-inline: 30px;
}
.form-login label{
    color: #0D3F3B;
    font-size: 16px;
}
.form-login input{
    background: #F3F5F2;
    color: #6B6B6B;
}
.form-login button{
    background: #0D3F3B;
    cursor: pointer;
}
.form-login .forgot-pass a{
    color: #0D3F3B;
    cursor: pointer;
}
.open-modal{
    background: #0000007d;
}
.open-modal h2{
    color: #0D3F3B;
}
.close-modal{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 500ms;
}
.close-modal.close-modal:hover{
    background: #00E700;
}
.btn-seguimiento{
    margin-top: 25px;
    width: 100%;
}
.btn-seguimiento hr{
    margin-bottom: 40px;
    border-color: #0D3F3B;
}
.btn-seguimiento a{
    background-color: transparent;
    color: #0D3F3B;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #0D3F3B;
    padding: 8px 20px;
    border-radius: 5px;
    margin-left: 15px;
}
.btn-seguimiento a:hover{
    background-color: #0D3F3B;
    color: white;
    transition: 300ms;
}
