<section class="container mx-auto section">
    <div class="up-page py-2 px-6 section40">
        <h2>Lista de productos</h2>
        <div>Bienvenido, {{nameOfUser}}</div>
    </div>
    <div class="main-page py-1">
        <div class="text-right up-table section40">
            <div class="btn-generate">
                <button 
                    (click)="irAgregarProducto()" 
                    class="text-white font-semibold py-2 px-6 rounded-md">
                        + Agregar producto
                </button>
            </div>
        </div>
        <div class="main-table">
            <table class="table-auto w-full border-collapse text-center">
                <thead>
                    <tr class="text-white font-bold">
                        <th class="p-[15px]">Código</th>
                        <th class="p-[15px]">Nombre del producto</th>
                        <th class="p-[15px]">Unidad de medida</th>
                        <th class="p-[15px]">Vehículo</th>
                        <th class="p-[15px]">Ficha técnica</th>
                        <th class="p-[15px]">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let product of (products$ | async)">
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.type_unit }}</td>
                        <td>{{ product.type_vehicle.name}}</td>
                        <td>
                            <a *ngIf="product.spec_sheet_url" [href]="product.spec_sheet_url" target="_blank" class="underline">
                                Ver ficha técnica
                            </a>
                            <span *ngIf="!product.spec_sheet_url">No disponible</span>
                        </td>
                        <td class="table-actions">
                            <a (click)="editProduct(product.id!)">Editar</a>
                            <a (click)="deleteProduct(product.id!)">Eliminar</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <app-modal-confirmacion [mostrar]="mostrarModalEliminacion"
        [mensaje]="'¿Seguro que deseas eliminar este vehículo?'" (confirmar)="confirmarEliminar()"
        (cancelar)="cancelarEliminacion()">
    </app-modal-confirmacion>

</section>