<header class="header-admin">
    <div class="container mx-auto flex justify-between">
        <img src="/logos-bl.png">
        <nav class="flex justify-around">
            <a href="#" class="flex flex-col items-center text-white">
                <img src="/icon-historial-pedidos.png">
                <span class="text-sm">Pedidos</span>
            </a>

            <a href="#" class="flex flex-col items-center text-white">
                <img src="/icon-vehiculos.png">
                <span class="text-sm">Vehículos</span>
            </a>

            <a href="#" class="flex flex-col items-center text-white">
                <img src="/icon-productos.png">
                <span class="text-sm">Productos</span>
            </a>

            <a href="#" class="flex flex-col items-center text-white">
                <img src="/icon-reportes.png">
                <span class="text-sm">Reportes</span>
            </a>

            <a href="#" class="flex flex-col items-center text-white">
                <img src="/icon-usuarios.png">
                <span class="text-sm">Usuarios</span>
            </a>

            <a (click)="logOut()" class="flex flex-col items-center text-white">
                <img src="/icon-cerrar-sesion.png">
                <span class="text-sm">Cerrar sesión</span>
            </a>
        </nav>
    </div>
</header>