.header-admin{
    background: #0D3F3B;
    padding: 20px;
}
.header-admin img{
    height: 100%;
    width: auto;
}
.header-admin nav{
    column-gap: 40px;
}
.header-admin nav a img{
    height: 30px;
    width: auto;
    margin-bottom: 8px;
}