 @media screen and (max-width: 768px) {
     .header-admin.header-admin {
         position: fixed;
         top: 0;
         width: 100%;
         z-index: 4;
     }

     .hamburger.hamburger {
         display: block;
     }

     .header-admin.header-admin nav {
         display: none;
         flex-direction: column;
         align-items: flex-start;
         gap: 20px;
         //  margin-top: 20px;
     }

     .header-admin.header-admin nav.open {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         row-gap: 30px;
         top: 82px;
         left: 0px;
         width: 100%;
         height: 93vh;
         position: fixed;
         background: #0d3f3b;
         padding: 30px 20px;
         z-index: 4;
     }

     .header-admin.header-admin>div {
         position: relative;
     }

     .header-admin.header-admin.header-admin.header-admin .logo {
         width: 60%;
     }

     .header-admin .container {
         max-width: 100%;
     }

     .header-admin.header-admin>div>div {
         width: 100%;
     }

     .header-admin nav a img,
     .header-admin nav>div img {
         display: none;
     }
     form .columns-form{
        flex-direction: column;
     }
 }

 @media screen and (min-width: 769px) {
     .header-admin .ccc {
         position: absolute;
     }
 }

 .header-admin {
     background: #0D3F3B;
     // padding: 20px;
 }

 .header-admin>div>div {
     padding: 20px;
 }

 .header-admin img {
     height: 100%;
     width: auto;
 }

 .header-admin nav {
     display: flex;
     column-gap: 40px;
 }

 .header-admin nav a,
 .header-admin nav>div {
     cursor: pointer;
 }

 .header-admin nav a img,
 .header-admin nav>div img {
     height: 30px;
     width: auto;
     margin-bottom: 8px;
 }

 .header-admin nav a span,
 .header-admin nav>div span {
     display: flex;
 }

 .header-admin nav a span svg,
 .header-admin nav>div span svg {
     width: 16px;
     height: 16px;
     margin-left: 4px;
     fill: #fff;
 }

 .header-admin nav a span svg path,
 .header-admin nav>div span svg path {
     fill: #fff;
 }

 .header-admin hr {
     color: #0000002e;
 }

 .hamburger {
     display: none;
     font-size: 28px;
     color: white;
     background: none;
     border: none;
     cursor: pointer;
 }