.header-client{
    background: #0D3F3B;
    padding: 20px;
}
.header-client img{
    height: 100%;
    width: auto;
}
.header-client nav{
    column-gap: 40px;
}
.header-client nav a img{
    height: 30px;
    width: auto;
    margin-bottom: 8px;
}