<header class="header-client">
    <div class="container mx-auto flex justify-between">
        <img src="/logos-bl.png">
        <nav class="flex justify-around">
            <a href="#" class="flex flex-col items-center text-white">
                <img src="/icon-generar-pedidos.png">
                <span class="text-sm">Generar pedidos</span>
            </a>

            <a href="#" class="flex flex-col items-center text-white">
                <img src="/icon-historial-pedidos.png">
                <span class="text-sm">Historial de pedidos</span>
            </a>

            <a (click)="logOut()" class="flex flex-col items-center text-white">
                <img src="/icon-cerrar-sesion.png">
                <span class="text-sm">Cerrar sesión</span>
            </a>
        </nav>
    </div>
</header>