<section class="container mx-auto pb-8">
    <div class="up-page py-2 px-6 section40">
        <h2>Generar pedidos</h2>
        <div>Bienvenido, {{nameOfUser}}</div>
    </div>
    <div class="main-page">
        <div class="flex items-center section40">
            <!-- Izquierda -->
            <div class="w-1/3">
              <a *ngIf="activeMonthOffset === 1"
                 href
                 (click)="toggleMonth($event)"
                 class="text-[#0d3f3b] underline">
                ← Mes actual
              </a>
            </div>
          
            <!-- Centro -->
            <h3 class="w-1/3 date justify-self-center text-center">
              {{ diasDelMes[0]?.nombre }} {{ diasDelMes.length > 0 ? diasDelMes[0]?.anio : '' }}
            </h3>
          
            <!-- Derecha -->
            <div class="w-1/3 text-right">
              <a *ngIf="activeMonthOffset === 0"
                 href
                 (click)="toggleMonth($event)"
                 class="text-[#0d3f3b] underline">
                Mes siguiente →
              </a>
            </div>
          </div>
        <div class="flex justify-between up-table section40">

            <div class="block mb-6 flex">
                <ng-container *ngIf="(products$ | async) as products">
                    <div class="w-full">
                        <select
                                id="producto"
                                name="producto"
                                class="w-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                                [(ngModel)]="selectedProductId"
                                (ngModelChange)="onProductChange($event, products)">
                                <option [ngValue]="null" disabled>Selecciona un producto</option>
                                <option *ngFor="let producto of products" [ngValue]="producto.id">
                                    {{ producto.name }}
                                </option>
                        </select>
                        <p *ngIf="productValidationError" class="text-red-600 text-xs mt-2 ml-4 txt-validate">
                            Por favor, selecciona un producto.
                        </p>
                    </div>
                </ng-container>
                
                <button
                    class="btn-ficha"
                    [disabled]="!selectedSpecUrl"
                    (click)="openSpecSheet()">
                    Ver ficha técnica del producto
                </button>
            </div>

            <div class="btn-generate flex items-center"> <!-- items-center en vez de items-start -->
                <!-- Mensajes a la izquierda del botón -->
                <div class="flex flex-col justify-center mr-4 flex-shrink-0">

                    <p *ngIf="errorMessage" class="text-red-600 text-xs txt-validate mt-1">
                        {{ errorMessage }}
                    </p>
                   
                    <p *ngIf="datesValidationError" class="text-red-600 text-xs txt-validate mt-1">
                    No hay fechas disponibles en este mes. Cambia a “Mes siguiente”.
                    </p>
                    <p *ngIf="quantitiesValidationError" class="text-red-600 text-xs txt-validate mt-1">
                    Por favor, llena al menos una cantidad a partir de mañana.
                    </p>
                </div>

                <!-- Botón a la derecha -->
                <button (click)="solicitarPedido()" class="text-white font-semibold py-2 px-6 rounded-md bg-blue-600">
                    Solicitar pedido
                </button>
            </div>
        </div>
        <div class="main-table">
            <table class="table-auto w-full border-collapse text-center">
                <thead>
                    <tr class="text-white font-bold">
                        <th class="p-[15px]">Fecha</th>
                        <th class="p-[15px]">Cantidad (Tm)</th>
                        <th class="p-[15px]">Vehículo</th>
                        <th class="p-[15px]">Estado del pedido</th>
                        <th class="p-[15px]">Entregado</th>
                        <th class="p-[15px]">Observación</th>
                        <th class="p-[15px]">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of orderDates; let i = index"
                        [class.opacity-50]="isDateDisabled(item)">
                    <td class="border px-4 py-2">
                        {{ item.delivery_date }}
                    </td>
                    <td class="border px-4 py-2">
                        <input
                        type="number"
                        min="0"
                        [(ngModel)]="orderDates[i].quantity"
                        [disabled]="isDateDisabled(item)"
                        [placeholder]="isDateDisabled(item) ? 'No disponible' : 'Ejm: 20'"
                        class="placeholder:text-gray-300 w-full"
                        />
                    </td>
                    <td class="border px-4 py-2">{{ vehiculoSeleccionado }}</td>
                    <td class="border px-4 py-2"></td>
                    <td class="border px-4 py-2"></td>
                    <td class="border px-4 py-2"></td>
                    <td class="border px-4 py-2 table-actions"></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <app-modal-confirmacion [mostrar]="mostrarModalConfirmacion"
        [mensaje]="'¿Está seguro que desea enviar el pedido?'" (confirmar)="confirmOrder()"
        (cancelar)="cancelConfirmOrder()">
    </app-modal-confirmacion>

    <div *ngIf="mostrarModalExito" class="fixed inset-0 flex items-center justify-center z-50 open-modal-exito">
        <div class="bg-white rounded shadow-md p-6 w-11/12 md:w-1/3 relative">
            <div class="flex items-center flex-col modal-icon text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM404.4 276.7C411.4 265.5 408 250.7 396.8 243.6C385.6 236.5 370.8 240 363.7 251.2L302.3 349.5L275.3 313.5C267.3 302.9 252.3 300.7 241.7 308.7C231.1 316.7 228.9 331.7 236.9 342.3L284.9 406.3C289.6 412.6 297.2 416.2 305.1 415.9C313 415.6 320.2 411.4 324.4 404.6L404.4 276.6z"/></svg>
                <h3 class="text-gray-700">¡Hecho!</h3>
            </div>

            <div class="py-4 text-center">
                <p class="fff text-gray-700">{{titleModalExito}}</p>
            </div>

            <div class="flex justify-center pt-8 border-t border-gray-200">
                <button (click)="irAListaVehiculos()"
                    class="text-white font-bold py-2 px-4 rounded btn">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</section>